@model List<Line.Data.Reservations>
@using Line.Models

@{
    /**/

    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    var Names = Model.GroupBy(d => d.ref_member).Select(group => new { Id = group.Key, Name = group.FirstOrDefault().Visitor.FirstName + " " + group.FirstOrDefault().Visitor.LastName });

}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>
            @T("Locked.Files")
        </h2>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
           

            @{
                
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <p>@T("Reservations.Locked")</p>
                    </div>
                    <div class="ibox-content">
                        @foreach (var item in Names)
                        {
                            <h4> @item.Name</h4>
                            <table class="datatabel2 table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            @T("Id")
                                        </th>
                                        <th>
                                            @T("Agency")
                                        </th>
                                        <th>
                                            @T("Country")
                                        </th>
                                        <th>
                                            @T("Total")
                                        </th>
                                        <th>
                                            @T("Checkin") -  @T("Checkout")
                                        </th>
                                        <th class="table-inputs"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var res in Model.Where(d => d.ref_member == item.Id))
                                    {
                                        <tr>
                                            <td></td>
                                            <td>
                                                <a target="_blank" href='@Url.Action("ViewReservations", "Reservations", new { id = res.ID })'><span class="btn btn-sm btn-3d btn-locked">@res.ID</span></a>
                                            </td>
                                            <td>
                                                @res.Agency.AgencyName <br />
                                                @res.note
                                            </td>
                                            <td>
                                                @res.Agency.Country
                                            </td>
                                            <td>
                                                @res.price.ToString(true)
                                            </td>
                                            <td>
                                                @res.checkindate.ToString("dd.MM.yyyy") - @res.balanceDate.ToString("dd.MM.yyyy")
                                            </td>
                                            <td>

                                                <a target="_blank" href='@Url.Action("Agency", "Accounting", new { id = res.ref_agency.Value })' class="btn btn-info btn-sm">
                                                    <span class="glyphicon glyphicon-eur"></span>
                                                </a>
                                                <a onclick="Unlock(@res.ID)" class="btn btn-locked btn-sm">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal inmodal" id="UnlockModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-body">
                <div class="row">
                    <h3 class="text-center">@T("Confirm.Unlock")</h3>
                    <hr />
                    <div class="text-center">
                        <button type="button" class="btn btn-white" data-dismiss="modal">@T("Close")</button>
                        <button type="button" data-dismiss="modal" class="btn btn-success" id="Unlockbtn">@T("Unlock File")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    @Html.Partial("_ConfirmDelete", "deletedialog")

    <script>
   function Unlock(id) {

       $('#UnlockModal').modal({
            backdrop: 'static',
            keyboard: false
        })
            .one('click', '#Unlockbtn', function (e) {
                $.ajax({
                    url: "@Url.Action("unlock", "Reservations", new { Area = "Admin" })",
                    type: "Post",
                    data: JSON.stringify({ 'id': id }),
                    dataType: "json",
                    traditional: true,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.success == true) {
                              swal('@T("item.Unlocked")')
                            location.reload();
                        } else {
                            alert("Error occurs on the Database level!");
                        }
                    },
                    error: function () {
                        alert("An error has occured!!!");
                    }
                });
            });
    }


    </script>


    <script>
    $(document).ready(function () {
        $('#datatabel').DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false,
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            columnDefs: [{
                className: 'control',
                orderable: false,
                targets: 0
            }],
            order: [1, 'asc'],
        });

        $('.datatabel2').DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            "bFilter": false,
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            columnDefs: [{
                className: 'control',
                orderable: false,
                targets: 0
            }],
            order: [1, 'asc'],
        });
    });

    </script>

}

