
@{
    ViewBag.Title = "FAQ";
}

<div role="main" class="main">

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Pages</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>@T("page.faq")</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <h2>@T("page.faq")</h2>

        @*<div class="row">
            <div class="col-md-12">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla non pulvinar. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut eu risus enim, ut pulvinar lectus. Sed hendrerit nibh metus.
                </p>
            </div>
        </div>*@

        <hr>

        <div class="row">
            <div class="col-md-12">

                <div class="toggle toggle-primary" data-plugin-toggle>
                    <section class="toggle active">
                        <label>@T("whatiscompanymatcher")</label>
                        <p>@T("whatiscompanymatcher.desc")</p>
                    </section>

                    <section class="toggle">
                        <label>@T("howwork")</label>
                        <p>
                            @T("howwork.desc1")
                            <br />
                            @T("howwork.desc2")
                            <br />
                            @T("howwork.desc3")
                        </p>
                    </section>



                    <section class="toggle">
                        <label>@T("howcan")</label>
                        <p>@T("howcan.desc")</p>

                    </section>

                    <section class="toggle">
                        <label>@T("willteam")</label>
                        <p>@T("willteam.desc")</p>

                    </section>

                    <section class="toggle">
                        <label>@T("doi")</label>
                        <p>@T("doi.desc")</p>

                    </section>

                    <section class="toggle">
                        <label>@T("doi")</label>
                        <p>@T("doi.desc")</p>

                    </section>

                    <section class="toggle">
                        <label>@T("who.own")</label>
                        <p>@T("who.own.desc")</p>

                    </section>

                   
                </div>

            </div>

        </div>

    </div>

</div>