<footer class="footer">

    <div class="footer-top">

        <div class="container">

            <div class="row">
                
                <div class="col-xs-12 col-md-4">

                    <p>
                        <img alt="logo-footer" src="/images/home/logo-2.png" width="100" class="logo">
                    </p>
                    <p>
                        @T("")
                    </p>
                    <p>
                        <a target="_blank" href="@T("facebook")"  class="social-icons__link"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="@T("Twitter")" class="social-icons__link"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="@T("instagram")" class="social-icons__link"><i class="fa fa-instagram"></i></a>
                        
                    </p>

                </div><!-- /.row -->
                
                <div class="col-xs-12 col-md-2">

                    <div class="widget_nav_menu">

                        <h6 class="footer-top__headings">@T("home.ourservice")</h6>
                        <ul>
                            <li class="current-menu-item ">
                                <a href="/home/express">@T("Home.express")</a>
                            </li>
                            <li class="current-menu-item ">
                                <a href="/home/doortodoor">@T("Home.doortodoor")</a>
                            </li>
                            <li class="current-menu-item ">
                                <a href="/home/track">@T("Home.track")</a>
                            </li>
                           
                        </ul>

                    </div><!-- /.widget_nav_menu -->

                </div><!-- /.row -->
                
                <div class="col-xs-12 col-md-6">

                    <h6 class="footer-top__headings">@T("Aboutus")</h6>
                    <p>
                        @T("Aboutus.des")
                    </p>
                    @*<p>
                        <a target="_blank" href="#" class="btn btn-info">BUY CARGOPRESS</a>
                    </p>*@

                </div><!-- /.row -->

            </div><!-- /.row -->

        </div><!-- /.footer -->

    </div><!-- /.footer-top -->

    <div class="footer-bottom">

        <div class="container">

            <div class="footer-bottom__left">
                Developed by <a href="https://www.emarkasoft.com/">E-MARKA SOFT</a>.
            </div>

            <div class="footer-bottom__right">
                Copyright &copy; 2018 @T("home.title"). All rights reserved.
            </div>

        </div><!-- /.container -->

    </div><!-- /.footer-bottom -->

</footer>