@model Line.Models.StatmentViewModel
@{
    Layout = "_invoice";
    var data = DateTime.Now.ToString("ddMMyyyy");
    ViewBag.Title = (Model.name + "_"+ Model.Statment+"_" + data);
    <style>
        * {
        font-size: 10px;
    }
        @@media print{
        * {
            font-size: 8px;
            }

            .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
                border-top: 1px solid #e7eaec;
                line-height: 1.1857;
                padding: 2px;
                vertical-align: top;
            }

            table {
                margin-bottom: 5px;
            }

            .panel-heading {
                padding: 5px 5px;
            }

            a:after{
                display:none;
            }
        }
    </style>
}
<div style="width:700px;margin:auto;background-color:white">
    <div align="center">
        <img border="0" src="\Images\Mails\header.png" width="700">
    </div>
    
    <div align="center" style="padding:10px">

            <div class=" clearfix panel-heading  bg-info-1">
                <div class="col-xs-6 text-left">
                    <span id="refranceid" runat="server">
                        @DateTime.Now.ToShortDateString()
                    </span>
                </div>

                <div class="col-xs-6 text-right">
                    <span id="datetime" runat="server">
                        @DateTime.Now.ToShortTimeString()
                    </span>
                </div>
            </div>

            <div class="col-xs-12 text-center">
                <h3 style="font-weight: 900">STATEMENT OF ACCOUNT (@Model.Statment)</h3>
            </div>

            <table style="font-size: 11px" class="table table-hover table-condensed panel-heading panel-info">
                <tr>
                    <td style="width: 150px; font-weight: 900">Agency </td>
                    <td>
                        <span id="tAgency" runat="server">
                           @Model.name
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 150px; font-weight: 900">From</td>
                    <td>
                        <span id="tcountry" runat="server">
                            @Model.City, @Model.Country
                        </span>
                    </td>
                </tr>

            </table>

            <table style='font-size:11px' class="active table table-hover table-condensed panel-heading panel-info">
                <thead>
                    <tr>
                        <th style="width: 30px">
                            File#
                            </th>
                        <th style="width: 100px">
                            Voucher
                            </th>
                        <th style="width: 150px">
                            Date
                        </th>
                        <th style="width: 200px">
                            Explanation
                            </th >
                        <th style="width: 10%">
                            Debit
                        </th>
                        <th style="width: 10%">
                            Paid
                            </th>
                        <th style="width: 10%">
                            Balance
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Files)
                    {
                        <tr class="info">
                            <td class='text-center'>
                                 <a target="_blank" href='@Url.Action("ViewReservations", "Reservations", new { id = item.Id })'><span class="">@item.Id</span></a>
                            </td>
                            <td> @item.name </td>

                            <td> @item.date </td>

                            <td> @item.Cutomer </td>

                            <td>
                                @item.DebtValue.ToString(true)
                            </td>

                            <td> @item.PaymentsValue.ToString(true) </td>

                            <td class='warning'> @item.BalanceValue.ToString(true) </td>
                        </tr>
                    }
                    <tr class="info">
                        <td class='text-center'>
                         
                        </td>
                        <td> </td>

                        <td> </td>

                        <td></td>

                        <td>
                            @Model.Files.Sum(d=> d.DebtValue).ToString(true)
                        </td>

                        <td> @Model.Files.Sum(d => d.PaymentsValue).ToString(true) </td>

                        <td class='danger'> @Model.Files.Sum(d=> d.BalanceValue).ToString(true) </td>
                    </tr>
                <tbody>
                </table>

            <div class="row">
                <div class="col-xs-push-6 col-xs-6 text-right">
                    <p style="font-weight: 900">OUTSTANDING BALANCE  : <span runat="server" style="color:red" id="total"> @Model.Files.Sum(d => d.BalanceValue).ToString(true) </span></p>
                </div>
            </div>


                <h5 class=" alert-success text-center">YOUR REMMITTANCE WILL BE MUCH APPRECIATED</h5>

                <p style="font-weight: 900"> Please find details below PLAZADMC SEYAHAT ACENTASI SAN. VE TIC. AS. Details / Euro</p>

                <table style="font-size: 11px" class="active table table-hover table-condensed panel-heading panel-info">
                    <tr class="alert-info">
                        <th style="font-weight: 600">BANK DETAIL</th>
                        <th colspan="3">EUR</th>

                    </tr>
                    <tr>
                        <td style="font-weight: 600">ACCOUNT NAME		</td>
                        <td colspan="3"> PLAZADMC SEYAHAT ACENTASI SAN. VE TIC. AS.</td>

                    </tr>

                    <tr>
                        <td style="font-weight: 600">BANK NAME</td>
                        <td> @T("BankName")</td>
                        <td style="font-weight: 600">BANK SWIFT CODE </td>
                        <td>@T("BankSwift")</td>
                    </tr>
                    <tr>
                        <td style="font-weight: 600">BRANCH </td>
                        <td> @T("Branch") </td>
                        <td style="font-weight: 600">IBAN CODE</td>
                        <td>@T("BackIBAN")</td>


                    </tr>
                    <tr>
                        <td style="font-weight: 600">BANK ADRESS </td>
                        <td> @T("BankAddress") </td>
                        <td style="font-weight: 600">ACCOUNT NO</td>
                        <td> @T("BankAccountNo") </td>

                    </tr>
                    <tr>
                        <td colspan="4" style="font-weight: 600" class="active">
                            Please email the swift copy to Ms. Sedef Becerikli BAYSU / Finance Manager <br />
                            E-mail : finance@plazaDMC.com
                        </td>
                    </tr>
                </table>


    </div>

    <div align="center">
        <img border="0" src="\Images\Mails\footer.png" width="700">
    </div>
</div>


