@using Line.Models;
@model Line.Data.Reservations
@{
    Layout = "_invoice";
}
<div style="width:700px;margin:auto;background-color:white">
    <div align="center">
        <img border="0" src="@ViewBag.header" width="700">
    </div>
    <div class=" clearfix panel-heading  btn-info">
        <div class="col-xs-6 text-left">
            <span id="refranceid" runat="server" style="font-weight:600;font-size:15px">	@T("reservation.Id"): @Model.ID </span>
        </div>
        <div class="col-xs-6 text-right">
            <span id="datetime" runat="server" style="font-weight:600">
                @Model.date.Value.ToShortDateString()
            </span>
        </div>
    </div>
    <div align="center" style="padding:10px">


        <div class="col-xs-12 text-center">
            <h2 id="Span1" runat="server" style="font-weight: 600">PROFORMA INVOICE</h2>
        </div>

        <table style="margin-bottom:0px!important" class="table table-hover table-condensed panel-heading">
            <tr>
                <td style="width: 150px; font-weight: 600">Agency </td>
                <td>
                    <span id="Agency" runat="server">
                        @Model.Agency.AgencyName
                    </span>
                </td>
            </tr>
            <tr>
                <td style="width: 150px; font-weight: 600">Your Ref / Voucher</td>
                <td>
                    <span id="vocher" runat="server">
                        @Model.vocher

                    </span>
                </td>

            </tr>
            <tr>
                <td style="width: 150px; font-weight: 600">Ref No:</td>
                <td>
                    <span id="refno" runat="server">
                        @Model.ID

                    </span>
                </td>
            </tr>
            @*<tr>
                <td style="width: 150px; font-weight: 600">Client Name</td>
                <td>
                    <span id="Client" runat="server">
                        @Model.GetCustomers()
                    </span>
                </td>
            </tr>*@

        </table>


        <p>@T("Please find below the expences for your above mentioned client...")</p>


        <div runat="server" id="hotels">

            @foreach (var item in Model.Rhotel)
            {
            <table style="font-size: 11px" class=" active table table-hover table-condensed panel-heading ">
                <tr class="alert-info">
                    <th>@item.name</th>
                    <th>Check IN</th>
                    <th>Check Out</th>
                    <th>Board</th>
                    <th>Room</th>
                    <th width='70'>Rate</th>
                </tr>
                @foreach (var room in item.RHRoom)
                {
                <tr>
                    <td>@room.guset</td>
                    <td>@room.checkin.Value.ToString("dd.MM.yyyy")  </td>
                    <td>@room.checkout.Value.ToString("dd.MM.yyyy") </td>
                    <td>@room.board </td>
                    <td>@room.name x @room.count 	</td>
                    <td>@((room.price * room.count * (room.checkout.Value - room.checkin.Value).Days).ToString(true)) </td>
                </tr>

                }
                <tr></tr>
            </table>
            }
                  
            </div>

        @if (Model.Transfers.Count > 0 || Model.Tour.Count > 0 || Model.ExtraService.Count > 0)
        {
            <div runat="server" id="others">
                <table style="font-size: 11px" class=" active table table-hover table-condensed panel-heading">
                    <tr class="alert-info">
                        <th>Land Servicse</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Flight Details</th>
                        <th>Pax</th>
                        <th width='70'>Rate</th>
                    </tr>
                    @foreach (var item in Model.Transfers)
                    {
                        <tr>
                            <td>@T("Transfer")    </td>
                            <td>@item.city <br /> @item.pickup  /  @item.dropoff 	   </td>
                            <td>@item.date.ToString("dd.MM.yyyy")</td>
                            <td>@item.flightCode</td>
                            <td>@item.pax</td>
                            <td>@item.Total.ToString(true)</td>
                        </tr>
                    }
                    @foreach (var item in Model.Tour)
                    {
                        <tr>
                            <td>@T("Tour")    </td>
                            <td>@item.name 	   </td>
                            <td>@item.date.ToString("dd.MM.yyyy")</td>
                            <td>@item.city</td>
                            <td>@item.Pax</td>
                            <td>@((item.Total * item.Pax).ToString(true))</td>
                        </tr>
                    }
                    @foreach (var item in Model.ExtraService)
                    {
                        <tr>
                            <td>@T("Package./.Extra")    </td>
                            <td>@item.name 	   </td>
                            <td>@item.date.ToString("dd.MM.yyyy") - @item.dateout.ToString("dd.MM.yyyy")</td>
                            <td>@item.customer</td>
                            <td>@item.Pax</td>
                            <td>@((item.Total * item.Pax).Value.ToString(true))</td>
                        </tr>
                    }
                </table>
            </div>
        }



        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6 text-left">
                    <p style="font-weight: 600">
                        Sedef Becerikli BAYSU
                        <br />
                        Incoming Finance Manager
                    </p>
                </div>
                <div class="col-xs-6 text-right">
                    <p style="font-weight: 600">TOTAL AMOUNT : <span runat="server" id="total"> @Model.price.ToString(true) </span></p>
                </div>
            </div>
        </div>
        <hr />
        <p style="font-weight: 600">
            Please find details below PLAZADMC SEYAHAT ACENTASI SAN. VE TIC. AS. Details / Euro
        </p>


        <table style="font-size: 11px" class="active table table-hover table-condensed panel-heading panel-info">
            <tr class="alert-info">
                <th style="font-weight: 600">BANK DETAIL</th>
                <th colspan="3">EUR</th>

            </tr>
            <tr>
                <td style="font-weight: 600">ACCOUNT NAME		</td>
                <td colspan="3"> PLAZADMC SEYAHAT ACENTASI SAN. VE TIC. AS.</td>

            </tr>

            <tr>
                <td style="font-weight: 600">BANK NAME</td>
                <td> @T("BankName")</td>
                <td style="font-weight: 600">BANK SWIFT CODE </td>
                <td>@T("BankSwift")</td>
            </tr>
            <tr>
                <td style="font-weight: 600">BRANCH </td>
                <td> @T("Branch") </td>
                <td style="font-weight: 600">IBAN CODE</td>
                <td>@T("BackIBAN")</td>


            </tr>
            <tr>
                <td style="font-weight: 600">BANK ADRESS </td>
                <td> @T("BankAddress") </td>
                <td style="font-weight: 600">ACCOUNT NO</td>
                <td> @T("BankAccountNo") </td>

            </tr>
            <tr>
                <td colspan="4" style="font-weight: 600" class="active">
                    Please email the swift copy to Ms. Sedef Becerikli BAYSU / Finance Manager <br />
                    E-mail : finance@plazaDMC.com
                </td>
            </tr>
        </table>
    </div>
    <div align="center">
        <img border="0" src="@ViewBag.footer" width="700">
    </div>
</div>
