@{
    ViewBag.Title = "ReservationExtra";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12 text-center">
        <img src="~/Images/steps/s5.png" width="500" alt="Alternate Text" />
    </div>
</div>

<div class="steps">
    <div class="step-Check active"></div>
    <div class="step-Names"></div>
    <div class="step-flights"></div>
    <div class="step-extra"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h3 class="title">Extra Services</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="ex3">City</label>
                            <select class="select2_demo_1 form-control">
                                <option value="1">Istanbul</option>
                                <option value="2">Antalya</option>
                                <option value="3">Capadocia</option>
                                <option value="4">Izmit</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="ex3">Who</label>
                            <select class="select2_demo_1 form-control chosen-select " multiple>
                                <option value="1">All</option>
                                <option value="2">Ahmad Ajaj</option>
                                <option value="3">HASAN Alkhuder</option>
                                <option value="4">Frideh Sarimehmet</option>
                                <option value="4">Hadi Aljebbeh</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="ex3">City</label>
                            <select class="select2_demo_1 form-control">
                                <option value="1">İstanbul FD Tour</option>
                                <option value="1">İstanbul HD Tour</option>
                                <option value="2">İstanbul Historical </option>
                                <option value="3">Capadocia Ballon</option>
                                <option value="4">Capadocia Historical</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="name"> How Much ? </label>
                            <input type="number" class="form-control" name="name" value="150" />
                        </div>
                        <div class="col-md-1">
                            <label for="ex3" style="padding-bottom:15px">  </label>
                            <div class="input-group clockpicker" data-autoclose="true">
                                <button class="btn btn-danger btn-circle">-</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="ex3">City</label>
                            <select class="select2_demo_1 form-control">
                                <option value="1">Istanbul</option>
                                <option value="2">Antalya</option>
                                <option value="3">Capadocia</option>
                                <option value="4">Izmit</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="ex3">Who</label>
                            <select class="select2_demo_1 form-control chosen-select " multiple>
                                <option value="1">All</option>
                                <option value="2">Ahmad Ajaj</option>
                                <option value="3">HASAN Alkhuder</option>
                                <option value="4">Frideh Sarimehmet</option>
                                <option value="4">Hadi Aljebbeh</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="ex3">City</label>
                            <select class="select2_demo_1 form-control">
                                <option value="1">İstanbul FD Tour</option>
                                <option value="1">İstanbul HD Tour</option>
                                <option selected="selected" value="2">İstanbul Historical </option>
                                <option value="3">Capadocia Ballon</option>
                                <option value="4">Capadocia Historical</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="name"> How Much ? </label>
                            <input type="number" class="form-control" name="name" value="150" />
                        </div>
                        <div class="col-md-1">
                            <label for="ex3" style="padding-bottom:15px">  </label>
                            <div class="input-group clockpicker" data-autoclose="true">
                                <button class="btn btn-success btn-circle">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="ex3">City</label>
                            <select class="select2_demo_1 form-control">
                                <option value="1">Istanbul</option>
                                <option value="2">Antalya</option>
                                <option value="3">Capadocia</option>
                                <option value="4">Izmit</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="ex3">Who</label>
                            <select class="select2_demo_1 form-control chosen-select " multiple>
                                <option value="1">All</option>
                                <option value="2">Ahmad Ajaj</option>
                                <option value="3">HASAN Alkhuder</option>
                                <option value="4">Frideh Sarimehmet</option>
                                <option value="4">Hadi Aljebbeh</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="ex3">City</label>
                            <select class="select2_demo_1 form-control">
                                <option value="1">İstanbul FD Tour</option>
                                <option value="1">İstanbul HD Tour</option>
                                <option value="2">İstanbul Historical </option>
                                <option value="3">Capadocia Ballon</option>
                                <option value="4">Capadocia Historical</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="name"> How Much ? </label>
                            <input type="number" class="form-control" name="name" value="150" />
                        </div>
                        <div class="col-md-1">
                            <label for="ex3" style="padding-bottom:15px">  </label>
                            <div class="input-group clockpicker" data-autoclose="true">
                                <button class="btn btn-danger btn-circle">-</button>
                            </div>
                        </div>
                    </div>
                    
                    
                    <hr />

                    <h3>Tax information</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="ex3">Do you want to pay tax </label>
                            <input class="" id="ex3" type="checkbox" value="0">
                        </div>
                        <div class="col-md-2">
                            <label for="ex3">Tax Informatiton</label>
                            <input class="form-control" id="ex3" type="text" value="0">
                        </div>
                        <div class="col-md-2">
                            <label for="ex3">Tax Currency</label>
                            <select class="select2_demo_1 form-control chosen-select ">
                                <option value="1">USD</option>
                                <option value="2">EUR</option>
                                <option value="3">TL</option>
                            </select>
                        </div>
                    </div>
                    <hr />

                    <div class="next-stet-btns text-center">
                        <div class="form-group">
                            <a href="@Url.Action("ReservationFlights")" type="button" class="btn btn-warning">Back</a>

                            <a href="@Url.Action("Complete")" type="button" class="btn btn-info">Save As Request</a>

                            <a href="@Url.Action("Complete")" type="button" class="btn btn-primary">Confirm Reservation</a>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
    @Styles.Render("~/plugins/nouiSliderStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/Content/plugins/ionRangeSlider/ionRangeStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/colorpicker/colorpickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/tagInputsStyles")
    @Styles.Render("~/plugins/duallistStyles")
}


@section Scripts {
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/ionRange")
    @Scripts.Render("~/plugins/nouiSlider")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/colorpicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/plugins/tagInputs")
    @Scripts.Render("~/plugins/duallist")


    <script type="text/javascript">
        $(document).ready(function () {

            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }


            });



            $(".touchspin1").TouchSpin({
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });

            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });


            $('#data_1 .input-group.date-1').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                daysOfWeekDisabled: "0,6,4,3,5",
                daysOfWeekHighlighted: "1,2"
            });

            $('#data_3 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });


            $('.chosen-select').chosen({ width: "100%" });
        });</script>
}