
@{
    ViewBag.Title = T("AboutUs").ToString();
}
<!-- MAIN TITLE -->
<div class="main-title">
    <div class="container">
        <h1 class="main-title__primary">@T("AboutUs")</h1>
        <h3 class="main-title__secondary">@T("AboutUs.subtitle")</h3>
    </div>
</div><!-- /.main-title -->
<!-- BREADCRUMBS -->
<div class="breadcrumbs margin-bottom-0">
    <div class="container">
        <span>
            <a class="home" href="/" title="Go to Homepage." rel="v:url">@T("home")</a>
        </span>
        <span>
            <span>@T("AboutUs")</span>
        </span>
    </div>
</div><!-- /.breadcrumbs -->

<div class="container">

    <div class="row margin-top-15 margin-bottom-30">

        <div class="col-sm-6">

            <p>
                @T("about.text1")
            </p>

            <p>
                @T("about.text2")
            </p>

            <p>
                @T("about.text3")
            </p>

          

        </div><!-- /.col -->

        <div class="col-sm-6">

            <p>
                <a href="/cargopress/html/images/contents/2.jpg">
                    <img alt="placeholder" src="/cargopress/html/images/contents/2.jpg" class="alignnone">
                </a>
            </p>
            <p>
                <a href="/cargopress/html/images/contents/8.jpg">
                    <img alt="placeholder" src="/cargopress/html/images/contents/8.jpg" class="alignnone">
                </a>
            </p>

        </div><!-- /.col -->

    </div><!-- /.row -->

</div><!-- /.container -->